.partyPackConatiner section {
    width:100%;
    /* margin:2% */
}
.partyPackConatiner section div {
    width:300px;
    height:400px;
    margin:6% 0;
    background-color: blue;
}
.partyPackConatiner button {
    margin: 0 0 3em 0;
    box-shadow: 10px 5px 5px;
    font-size: 1.2em;
    box-shadow: 10px 10px 4px rgba(0,0,0,0.1);
}
.partyPackConatiner > :nth-child(3) {
    height: 100vh;
}